.background{
    background-color: #f024ff;
}
.ph1, .ph2{
    display: flex;
    justify-content: center; /* горизонтально по центру */
    align-items: center;     /* вертикально по центру */
    height: 100vh;
}

.gif{
    width:480px;
    height:480px;
}